.header-container{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: rgb(25, 25, 25);
    color: rgb(249, 141, 40);
    text-shadow: 1px 1px 1.5px rgb(181, 61, 6);
}

.title-desc header{
    font-size: 3rem;
    font-weight: bold;
    
}

.title-desc p{
    font-size: 1.3rem;

}

.score-board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}