.header-container{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255);


}

.title-desc header{
    font-size: 4rem;
    font-weight: bold; 
    color: rgb(255, 255, 255);
}

.title-desc p{
    font-size: 1.4rem;
    color: rgb(222, 221, 221);
}

.score-board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-size: 1.7rem;
    font-weight: bold;
}