.lose-container{
    height: 20rem;
    width: 30rem;
    color: white;
    font-size: 2rem;
    background-color: rgb(29, 29, 29);
    padding: 2rem;
    padding-top: 0rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lose-container h2{
    font-family: Courier, monospace;
    text-shadow: 1px 1px 1px gray;
}

