.main-container{
    background-color: rgb(31, 31, 31);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 3rem;
    gap: 1rem;
    place-items: center;
    

}

.card{
    font-weight: bold;
    font-size: 1.2rem;
    box-sizing: border-box;
    max-height: 20rem;
    width: 11rem;
    border: 2px solid white;
    text-align: center;
    padding: 1rem;
    border-radius: 4rem 0.5rem;
    color: white;
    background-color: rgb(231, 44, 44);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    

}



.card img{
    height: 14rem;
    border-radius: 4rem 0.5rem;

}

.card:hover{
    cursor: pointer;
    transform: scale(1.1);
}

