.main-container{

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 2rem;
    gap: 1rem;
    place-items: center;
    

}

.card{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(26, 26, 26);
    font-weight: bold;
    font-size: 1.5rem;
    box-sizing: border-box;
    width: 15rem;
    border: 2px solid white;
    text-align: center;
    padding: 0.5rem;
    padding-top: 1rem;
    border-radius: 4rem 0.5rem;
    background-color: rgb(249, 141, 40);
    text-shadow: 1px 1px 1px white;
    transition: transform 0.25s ease;
}

.card img{
    height: 15rem;
    border-radius: 4rem 0.5rem;

}

.card:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 
}

