.main-container{

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 2rem;
    gap: 1rem;
    place-items: center;
    

}

.card{
    box-sizing: border-box;
    width: 15rem;
    border: 2px solid;
    text-align: center;
    color: rgb(27, 27, 27);
    padding: 0.5rem;
    border-radius: 4rem 0.5rem;
    background-color: rgb(240, 87, 4);
    transition: transform 0.25s ease;
}

.card img{
    height: 15rem;
    border-radius: 4rem 0.5rem;

}

.card:hover{
    cursor: pointer;
    transform: scale(1.1);
}

