body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: sans-serif, Arial;
    box-sizing: border-box;
     background-color: rgb(25, 25, 25);

}

.blured{
    filter: blur(10px);
}

.play-again-btn, .change-difficulty-btn{
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 3rem;
    font-size: 1.5rem;
    background-color: rgb(220, 41, 41);
    border: none;
    color: white;
    transition: transform 0.3s ease;
}

.play-again-btn:hover,.change-difficulty-btn:hover{
    background-color: rgb(200, 35, 35);
    transform: scale(1.1);

}

